body {
    min-height: 100%;
    height: 100%;
    background-image: url("../../images/demo/backgrounds/bg1.jpg");
    color: #CBCBCB;
}

.body-wrapper {
    min-height: 100%;
    height: 100%;
}

.content-header {
    text-align: center;
    font-family: Chiller;
    font-size: 100%;
}

.chat_space {
    min-height: 100%;
    width: 100%;
}

.bot_reply, .my_answer {
    margin: auto;
    width: 30%;
}

.my_answer {
    align-self: flex-end;
}
.chat_space .bot_reply_list{
    padding:0;
}
.chat_space .bot_reply_list .reply {
    text-align: center;
    font-size: 200%;
    font-family: "Garamond", sans-serif ;
    list-style-type: none;
    padding:10px 5px;
}

.chat_space .my_answer .answer {
    border: 1px solid #4E658E;
    font-size: larger;
    text-align: right;
    font-family: "Bradley Hand ITC";
    list-style-type: none;
}

.message_form {
    margin: auto;
    align-content: center;
    width: 80%;
}
#user-response{
    font-size: large;
    margin: auto;
    min-height:60px;
    width:60%;
    display:block;
    box-sizing: padding-box;
    overflow:hidden;
    padding:10px;
    border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
}
#user-response:focus{
    border: 1px solid #2B2F32;
}
.submit-button{
    text-align: center;
    margin: auto;
}