body {
    min-height: 100%;
    height: 100%;
    background-image: url("../../images/demo/backgrounds/bg1.jpg");
    color: #CBCBCB;
}

.body-wrapper {
    min-height: 100%;
    height: 100%;
}

.content-header {
    text-align: center;
    font-family: Chiller, sans-serif;
    font-size: 100%;
}

.chat_space {
    min-height: 100%;
    width: 100%;
}

.bot_reply, .my_answer {
    margin: auto;
    width: 30%;
}

.my_answer {
    align-self: flex-end;
}
.chat_space .bot_reply_list{
    padding:0;
}
.chat_space .bot_reply_list .reply {
    text-align: center;
    font-size: 200%;
    font-family: "Garamond", sans-serif ;
    list-style-type: none;
    padding:10px 5px;
}

.chat_space .my_answer .answer {
    border: 1px solid #4E658E;
    font-size: larger;
    text-align: right;
    font-family: "Bradley Hand ITC", sans-serif;
    list-style-type: none;
}

.message_form {
    margin: auto;
    align-content: center;
    width: 80%;
}
#user-response{
    font-size: large;
    margin: auto;
    min-height:60px;
    width:60%;
    display:block;
    box-sizing: padding-box;
    overflow:hidden;
    padding:10px;
    border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
}
#user-response:focus{
    border: 1px solid #2B2F32;
}
.submit-button{
    text-align: center;
    margin: auto;
}

/*Output*/
.output{
    margin: 3rem auto ;
    color: #666;
    width:80%;
}

.summary-emotion{
    background-color: #f9f9f9;
    padding: 1rem;
    height: 26.5rem;
}
@media (min-width: 768px) {
    .summary-emotion {
        width: 31.91489%;
        margin-left: 0;
        margin-right: 2.12766%;
        float: left;
        display: block;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .summary-emotion {
        height: 26.5rem;
    }
}
@media (min-width: 1200px) {
    .summary-emotion {
        height: 26.5rem;
    }
}
.summary-writing {
    background-color: #f9f9f9;
    padding: 1rem;
    height: 26.5rem; }
@media (min-width: 768px) {
    .summary-writing {
        width: 31.91489%;
        margin-left: 0;
        margin-right: 2.12766%;
        float: left;
        display: block;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .summary-writing {
        height: 26.5rem;
    }
}
@media (min-width: 1200px) {
    .summary-writing {
        height: 26.5rem;
    }
}

.summary-social {
    background-color: #f9f9f9;
    padding: 1rem;
    height: 26.5rem; }
@media (min-width: 768px) {
    .summary--social {
        width: 31.91489%;
        margin-left: 0;
        margin-right: 2.12766%;
        float: left;
        display: block;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .summary-social {
        height: 26.5rem;
    }
}
@media (min-width: 1200px) {
    .summary-social {
        height: 26.5rem;
    }
}
@media (min-width: 768px) {
    .summary-social {
        /*width: auto;
        float: none;
        margin-left: 0;*/
        margin-right: 0;
        /*display: block;*/
        width: 31.91489%;
        margin-left: 0;
        float: left;
        display: block;
    }
}


.summary-emotion-graph {
    position: relative; }
.summary-emotion-graph--row {
    margin-top: 1rem; }
.summary-emotion-graph--bar-value {
    background-color: #1AE5CD; }
.summary-emotion-graph--bar-value_Anger {
    background-color: #E80521; }
.summary-emotion-graph--bar-value_Disgust {
    background-color: #592684; }
.summary-emotion-graph--bar-value_Fear {
    background-color: #325E2B; }
.summary-emotion-graph--bar-value_Joy {
    background-color: #FFD629; }
.summary-emotion-graph--bar-value_Sadness {
    background-color: #086DB2; }
.summary-emotion-graph--bar-value_Confident {
    background-color: #1cb4a0; }
.summary-emotion-graph--bar-value_Analytical {
    background-color: #075CD8; }
.summary-emotion-graph--bar-value_Openness {
    background-color: navajowhite; }
.summary-emotion-graph--bar-value_Extraversion {
    background-color: #CBCBCB; }
.summary-emotion-graph--bar-value_Agreeableness {
    background-color: #FE0000; }
.summary-emotion-graph--bar-value_Conscientiousness {
    background-color: #FFD629; }
.summary-emotion-graph--bar-tooltip_Anger {
    position: absolute;
    background-color: #E80521;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Anger:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #E80521; }
.summary-emotion-graph--bar-tooltip_Anger .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Anger .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Disgust {
    position: absolute;
    background-color: #592684;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Disgust:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #592684; }
.summary-emotion-graph--bar-tooltip_Disgust .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Disgust .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Fear {
    position: absolute;
    background-color: #325E2B;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Fear:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #325E2B; }
.summary-emotion-graph--bar-tooltip_Fear .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Fear .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Joy {
    position: absolute;
    background-color: #FFD629;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #000000; }
.summary-emotion-graph--bar-tooltip_Joy:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #FFD629; }
.summary-emotion-graph--bar-tooltip_Joy .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Joy .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-tooltip_Sadness {
    position: absolute;
    background-color: #086DB2;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    color: #ffffff; }
.summary-emotion-graph--bar-tooltip_Sadness:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #086DB2; }
.summary-emotion-graph--bar-tooltip_Sadness .base--a {
    color: white; }
.summary-emotion-graph--bar-tooltip_Sadness .base--a:hover {
    color: #e0e0e0; }
.summary-emotion-graph--bar-container {
    margin-right: 0.5rem;
    width: calc(100% - 7rem); }
.summary-emotion-graph--percentage-label {
    margin-top: 0;
    line-height: 1;
    text-align: left;
    font-weight: lighter;
    width: 4rem;
    font-size: 0.85rem; }
.summary-emotion-graph--label-container:hover .bar-graph--tooltip {
    visibility: visible;
    opacity: 1;
}
.summary-emotion-graph--percentage-label-likeliness {
    font-weight: lighter;
    font-size: 0.5rem; }
.summary-emotion-graph--legend-label-container {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 4rem); }
.summary-emotion-graph--legend-label {
    position: absolute;
    margin-right: 0;
    display: block;
    float: left;
    margin-top: 0;
    text-align: center;
    font-size: 0.8rem; }
.summary-emotion-graph--legend-label_medium {
    left: 50%;
    margin-left: -1.4rem; }
.summary-emotion-graph--legend-label_high {
    left: 75%;
    margin-left: -0.7rem; }
.summary-emotion-graph--legend-label:nth-of-type(3n) {
    margin-right: 0; }
@media (min-width: 768px) {
    .summary-emotion-graph--legend-label {
        font-size: 0.5rem; } }

.summary-writing-graph {
    margin-top: 0;
    height: calc(100% - 2.5rem); }
@media (min-width: 768px) {
    .summary-writing-graph {
        height: calc(100% - 3.5rem); } }
@media (min-width: 1200px) {
    .summary-writing-graph {
        height: calc(100% - 2.5rem); } }
.summary-writing-graph--column {
    width: calc(33.33333% - 0rem);
    margin-right: 0;
    display: block;
    float: left;
    margin-top: 0;
    height: 100%; }
.summary-writing-graph--column:nth-of-type(3n) {
    margin-right: 0; }
.summary-writing-graph--bar {
    width: 1.25rem;
    height: calc(100% - 1.6rem);
    margin: auto;
    background-color: #e0e0e0;
    position: relative; }
.summary-writing-graph--bar-value {
    background-color: #274b5f;
    position: absolute;
    bottom: 0;
    width: 100%; }
.summary-writing-graph--label {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.4rem; }
.summary-writing-graph--bar-tooltip {
    position: absolute;
    background-color: #274b5f;
    padding: 1rem;
    width: 5.5rem;
    left: -2.125rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    text-align: center;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-writing-graph--label-container:hover .bar-graph--tooltip {
    visibility: visible;
    opacity: 1;
}
.summary-writing-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #274b5f; }
.summary-writing-graph--bar-tooltip .base--a {
    color: white; }
.summary-writing-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-writing-graph--bar-tooltip:after {
    border-bottom: 0; }
.summary-writing-graph--bar:hover .summary-writing-graph--bar-tooltip {
    visibility: visible;
    opacity: 1; }
.summary-writing-graph--bar:hover .summary-writing-graph--bar-tooltip:hover {
    visibility: hidden;
    opacity: 0; }
.summary-writing-graph--percentage-label {
    margin-top: 0;
    line-height: 1;
    text-align: left;
    font-weight: lighter;
    font-size: 0.85rem;
    width: 4rem; }
.summary-writing-graph--percentage-label-likeliness {
    font-weight: lighter;
    font-size: 0.5rem; }
.summary-writing-graph--bar-container {
    width: calc(100% - 7rem); }

.summary-social-graph {
    display: block;
    width: 100%; }
.summary-social-graph--row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: flex-start;
    flex-flow: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
.summary-social-graph--row:first-child {
    margin-top: 0; }
.summary-social-graph--label-container {
    display: inline-block;
    width: 8rem;
    margin-right: 0;
    vertical-align: middle; }
.summary-social-graph--bar-container {
    display: inline-block;
    width: calc(100% - 10rem);
    vertical-align: middle;
    margin-top: 0; }
.summary-social-graph--label {
    font-size: 0.8rem;
    text-align: right;
    position: relative; }
.summary-social-graph--bar {
    height: 1.25rem;
    background-color: #e0e0e0;
    position: relative; }
.summary-social-graph--bar-value {
    height: 100%;
    width: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #075CD8; }
.summary-social-graph--threshold {
    position: absolute;
    top: -40%;
    left: 0;
    height: 180%;
    width: 1px;
    margin-top: 0;
    background-color: #aeaeae; }
.summary-social-graph--tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 20rem;
    left: -10rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.5rem);
    margin-top: 0; }
.summary-social-graph--tooltip:after {
    content: '';
    position: absolute;
    left: 9rem;
    border: 1rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.summary-social-graph--tooltip .base--a {
    color: white; }
.summary-social-graph--tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--bar-tooltip {
    position: absolute;
    background-color: #325c80;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
    text-align: center;
    margin-top: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-social-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #325c80; }
.summary-social-graph--bar-tooltip .base--a {
    color: white; }
.summary-social-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.bar-graph--bar:hover .summary-social-graph--bar-tooltip {
    visibility: visible;
    opacity: 1; }
.bar-graph--bar:hover .summary-social-graph--bar-tooltip:hover {
    visibility: hidden;
    opacity: 0; }
.summary-social-graph--tooltip br {
    margin-top: 0; }
.summary-social-graph--bar-value {
    background-color: #1cb4a0; }
.summary-social-graph--bar-tooltip {
    position: absolute;
    background-color: #1cb4a0;
    padding: 1rem;
    width: 5.5rem;
    left: -2.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.25rem);
}
.summary-social-graph--bar-tooltip:after {
    content: '';
    position: absolute;
    left: 2rem;
    border: 0.75rem solid transparent;
    top: 100%;
    border-top-color: #1cb4a0; }
.summary-social-graph--bar-tooltip .base--a {
    color: white; }
.summary-social-graph--bar-tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--label-container .bar-graph--tooltip {
    position: absolute;
    background-color: #1cb4a0;
    padding: 1rem;
    width: 20rem;
    left: -5rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    visibility: hidden;
    opacity: 0;
    bottom: calc(100% + 1.5rem);
    text-align: left;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
.summary-social-graph--label-container .bar-graph--tooltip:after {
    content: '';
    position: absolute;
    left: 9rem;
    border: 1rem solid transparent;
    top: 100%;
    border-top-color: #1cb4a0; }
.summary-social-graph--label-container .bar-graph--tooltip .base--a {
    color: white; }
.summary-social-graph--label-container .bar-graph--tooltip .base--a:hover {
    color: #e0e0e0; }
.summary-social-graph--label-container .bar-graph--tooltip:after {
    border-bottom: 0; }
.summary-social-graph--label-container:hover .bar-graph--tooltip {
    visibility: visible;
    opacity: 1; }
.summary-social-graph--label-container:hover .bar-graph--tooltip:hover {
    visibility: hidden;
    opacity: 0; }
.summary-social-graph--percentage-label {
    margin-top: 0;
    line-height: 1;
    text-align: left;
    font-weight: lighter;
    font-size: 0.85rem;
    width: 4rem; }
.summary-social-graph--percentage-label-likeliness {
    font-weight: lighter;
    font-size: 0.5rem; }
.summary-social-graph--bar-container {
    width: calc(100% - 11rem); }
.summary-view-code-button {
    float: right; }
.summary-json {
    display: none; }
.js-toggle-summary-json_hide {
    display: none; }


.summary-emotion, .summary-writing, .summary-social{
    height: auto;
    margin-bottom: 30px;
}
.bar-graph--bar{
    background-color: #eeeeee;
    height: 20px;
}
.bar-graph--bar-value{
    height: 20px;
}
.bar-graph--row{
    border-bottom: 1px solid #ccc;
}
